*{
    margin:0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
   user-select: none; /*  stop hilighting text  */
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; width:100vw;
    background-image: url(imgs/2.png);
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.world {
    overflow: hidden;
    position : relative;
    height:400px;
    width: 100%;
    margin-left: 10vmin;
    margin-right: 10vmin;
    border: 2px solid black;
}

.score {
    position : absolute;
    font-size:3vmin;
    color: green;
}
.scoretxt{
    margin-left: 8%;
    font-size:3vmin;
}

.start-screen {
    position : absolute;
    font-size : 5vmin;
    top:50%;
    left: 50%;
    transform : translate(-50%, -50%);
    color: green;
}

.hide{
    display : none;
}

.ground{
position:absolute;
bottom : 0px;
  background-image: url('imgs/ground.png');
  background-repeat: repeat-x;
  background-size: cover;
  animation: slideright 600s infinite linear;
  /* -webkit-animation: slideright 600s infinite linear; */
  width: 100%;
  height: 100px;
}

.dino {
    --bottom : 4; 
     position : absolute;
     left : 7%;
     height : 30%;
     /* bottom: 10%; */
     bottom : calc(var(--bottom)*1%); 
}

/* .cactus{
    --right:0;
    position : absolute;
    right: calc(var(--right) * 1%); 
    height : 20%;
    bottom:6%;
} */

.cactus{
  position: absolute;
  /* right:5%; */
  width: 150px;
  height: 100px;
  background-image: url(imgs/cactus.png);
  background-size: cover;
  bottom: 7%;
}


@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}


.popup .overlay{
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index: 1;
    display:none;
}
.popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(0);
    background: #fff;
    width: 100vmin;
    height: 70vmin;
    z-index:2;
    text-align: center;
    padding:18px;
    box-sizing:border-box;
}
.popup .close-btn{
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background: #75FF71;
    color:#000;
    font-size: 25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
    cursor: pointer;
}
.popup.active .overlay{
    display: block;
}
.popup.active .content{
    transition:all 300ms ease-in-out;
    transform:translate(-50%, -50%) scale(1);
}
gif{
    position: absolute;
    top: -20%;
}
.content h1 {
    font-family: shrikhand;
    font-size: 70px;
    letter-spacing: 3px;
    color:orange;
    margin: 0;
    -webkit-text-stroke: 2px olivedrab;
    line-height: 79px;
}
.btnTryAgain{
    width:60vmin;
    font-size: 40px;
    margin: 0;
    /*margin-top:30%;*/
    font-family: Courgette;
    color: #000;
    background-color: #75FF71;
    border-radius: 20px;
}
.content a{
    text-decoration: none;
    color: #000;
}
.content a:hover{ 
    text-decoration: none; 
    color:orange; 
}