*{
    margin:0;
    padding: 0;
}

body{
    height: 100vh; width:100vw;
    background-image: url(2.png);
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
}
